# NVIDIA AI
NVIDIA_API_KEY= "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"
NVIDIA_VISION_MODEL= "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"
NVIDIA_TEXT_MODEL="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"

# Database
DATABASE_URL="postgresql://postgres:jai29abi@localhost:5432/partsure"

# MST Blockchain
MST_RPC_URL= "MST_RPC_URL=https://testnetrpc.mstblockchain.com"
DEPLOYER_PRIVATE_KEY = "0x766b907e68da49129ec9bf4a45e652f9a794b7c25017a7da03e7e96faaf27f6e" 
